<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/16qrtBCtNP/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/shahabuddin_khan18?igsh=MWFqdW0yZW00YTEzeg=="><i class="fa-brands fa-instagram"></i></a>
           <a href="https://www.linkedin.com/in/md-shahabuddin-khan-4b8311250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> <i class="fa-brands fa-linkedin"></i> </a>
        </div>

        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>