<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
    <div style="font-size: 3rem;">😢</div>
    <h4 class="alert-heading mt-2">Oops! An Error Occurred</h4>
    <p class="mb-0"><%= message %></p>
  </div>
</div>